{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header">
        <span class="fa fa-users"></span>&nbsp;&nbsp;<a href="/admin/users/" class="btn btn-danger btn-sm" role="button"><span class="fa fa-hand-o-left"></span>&nbsp;&nbsp;Go back</a>&nbsp;&nbsp;
        {% if (subaction == 'create') %}
            Create a user
        {% else %}
            Edit user #{{ user.getId() }}
        {% endif %}
    </h1>
    <form class="form-horizontal" method="post" action="/admin/users/{% if (subaction == 'create') %}create{% else %}{{ user.getId() }}{% endif %}/">
        {% if (error || success) %}
            <div class="form-group form-group-sm">
                <div class="col-sm-6">
                    {% if (error) %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ error }}
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ success }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="form-group form-group-sm">
            <label for="name" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ user.getName() }}" required />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="login" class="col-sm-1 control-label">Login</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="login" name="login" placeholder="Login" value="{{ user.getLogin() }}" required />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="role" class="col-sm-1 control-label">Role</label>
            <div class="col-sm-3">
                <select class="form-control" id="role" name="role">
                    {% for role, id in app.docker_blah.userManager.getRoles() %}
                        <option value="{{ id }}" {% if (user.getRole() == id) %}selected{% endif %}>{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="password" class="col-sm-1 control-label">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="{% if (subaction == 'create') %}Password{% else %}Type new password to change{% endif %}" value="" />
            </div>
        </div>
        <br />
        {% for project in app.docker_blah.projectManager.getAll() %}
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">Project</label>
                <div class="col-sm-2">
                    <p class="form-control-static">{{ project.getName() }}</p>
                </div>
                <label for="role_{{ project.getId() }}" class="col-sm-1 control-label">Role</label>
                <div class="col-sm-2">
                    <select class="form-control" id="role_{{ project.getId() }}" name="role_{{ project.getId() }}">
                        {%  set userRoleInProject = app.docker_blah.projectManager.getUserRoleInProject(user.getId(), project.getId()) %}
                        <option value="-1">NONE</option>
                        {% for role, id in app.docker_blah.projectManager.getRoles() %}
                            <option value="{{ id }}" {% if (userRoleInProject == id) %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        <br />
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button type="submit" name="action" id="action" class="btn btn-success" value="projects">
                    {% if (subaction == 'create') %}
                        <span class="fa fa-check-circle-o"></span>&nbsp;&nbsp;Create
                    {% else %}
                        <span class="fa fa-floppy-o"></span>&nbsp;&nbsp;Update
                    {% endif %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
