{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-users"></span>&nbsp;&nbsp;<a href="/admin/users/create" class="btn btn-success btn-sm" role="button"><span class="fa fa-user-plus"></span>&nbsp;&nbsp;Create new</a>&nbsp;&nbsp;Users</h1>
    <form method="post" action="/admin/users">
        <div class="form-group form-group-sm">
            <div class="col-sm-2">
                <label class="control-label" for="role">System role:</label>
                <select class="form-control" id="role" name="role">
                    <option value="-1">ALL</option>
                    {% for role, id in app.docker_blah.userManager.getRoles() %}
                        <option value="{{ id }}" {% if (selectedRole == id) %}selected{% endif %}>{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <label class="control-label" for="project">Project:</label>
                <select class="form-control" id="project" name="project">
                    <option value="-1">ALL</option>
                    {% for project in app.docker_blah.projectManager.getAll() %}
                        <option value="{{ project.getId() }}" {% if (selectedProject == project.getId()) %}selected{% endif %}>{{ project.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <label class="control-label" for="project_role">Project role:</label>
                <select class="form-control" id="project_role" name="project_role">
                    <option value="-1">ALL</option>
                    {% for role, id in app.docker_blah.projectManager.getRoles() %}
                        <option value="{{ id }}" {% if (selectedProjectRole == id) %}selected{% endif %}>{{ role }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="col-sm-2">
                <button type="submit" id="filter" class="btn btn-success" name="filter">Filter</button>&nbsp;&nbsp;
                <a href="/admin/users" class="btn btn-primary" role="button">Reset</a>
            </div>
            <div class="col-sm-1">

            </div>
        </div>
    </form>
    <br /><br /><br />

    <table class="table table-striped table-vcenter">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>Projects</th>
            <th>Edit?</th>
            <th>Delete?</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.getId() }}</td>
                <td>{{ user.getName() }}</td>
                <td>{{ user.getLogin() }}</td>
                <td>
                    {% for project in app.docker_blah.projectManager.getAllForUser(user) %}
                        {{ project.project.getName() }}<br>
                    {% endfor %}
                </td>
                <td><a href="/admin/users/{{ user.getId() }}" class="btn btn-primary" role="button"><span class="fa fa-pencil"></span>&nbsp;&nbsp;Edit</a></td>
                <td><a href="/admin/users/{{ user.getId() }}" class="btn btn-danger" role="button"><span class="fa fa-trash-o"></span>&nbsp;&nbsp;Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
