{% extends '../layout/index.html.twig' %}

{% block sidebar %}
    {% include './partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-sliders fa-fw"></span>&nbsp;&nbsp;Project settings</h1>

    <br />

    <p class="lead">List of logs you want to monitor on nodes:</p>
    {% if (error or success) %}
        <div class="col-sm-6">
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error }}
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ success }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Path</th>
        </tr>
        {% for id, projectLog in projectLogs %}
            <tr>
                <td>{{ projectLog.getName() }}</td>
                <td>{{ projectLog.getPath() }}</td>
            </tr>
        {% endfor %}
    </table>
    <form class="form-horizontal" method="post"  action="/project/{{ request.project.getId() }}/settings/">
        <div class="form-group form-group-sm">
            <div class="col-sm-1">
                <button type="button" name="action" class="btn btn-primary" value="create"><span class="fa fa-check-circle-o fa-lg"></span>&nbsp;&nbsp;Add</button>
            </div>
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" name="action" class="btn btn-success" value="create"><span class="fa fa-floppy-o fa-lg"></span>&nbsp;&nbsp;Save</button>
            </div>
        </div>
    </form>
{% endblock %}
