{% extends '../../../layout/index.html.twig' %}

{% block sidebar %}
    {% include './../../partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-th fa-fw"></span>&nbsp;&nbsp;<a href="/node/{{ request.node.getId() }}/containers/" class="btn btn-danger btn-sm" role="button"><span class="fa fa-hand-o-left fa-lg"></span>&nbsp;&nbsp;Go back to containers in node <strong>{{ request.node.getName() }} / {{ request.node.getIp() }}:{{ request.node.getPort() }}</strong></a>&nbsp;&nbsp;Container #{{ container.Id|truncate(12, True, '') }}</h1>

    {% block tabs %}
        {% include './partial.tab.html.twig' %}
    {% endblock %}

    {% if (error) %}
        <br />

        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>
        </div>
    {% else %}
        <h3>Base info</h3>
        <table class="table table-bordered table-super-condensed">
            <tr>
                <th width="100px">Option</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Command</td>
                <td>{{ container.Config.Cmd }}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>{{ container.Config.Image }}</td>
            </tr>
            <tr>
                <td>Hostname</td>
                <td>{{ container.Config.Hostname }}</td>
            </tr>
            <tr>
                <td>IP</td>
                <td>{{ container.NetworkSettings.IPAddress }}</td>
            </tr>
            <tr>
                <td>Started at</td>
                <td>{{ container.State.StartedAt }}</td>
            </tr>
        </table>

        <h3>Volumes</h3>
        <table class="table table-bordered table-super-condensed">
            <tr>
                <th>Source</th>
                <th>Destination</th>
            </tr>
            {% for volume in container.Mounts %}
                <tr>
                    <td>{{ volume.Source }}</td>
                    <td>{{ volume.Destination }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Ports</h3>
        <table class="table table-bordered table-super-condensed">
            <tr>
                <th>Container</th>
                <th>Host IP</th>
                <th>Host port</th>
            </tr>
            {% for id, port in container.HostConfig.PortBindings %}
                <tr>
                    <td>{{ id }}</td>
                    <td>
                    {% for portInfo in port %}
                        {{ portInfo.HostIp }}<br />
                    {% endfor %}
                    </td>
                    <td>
                        {% for portInfo in port %}
                            {{ portInfo.HostPort }}<br />
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Processes: {{ topCount }}</h3>
        <table class="table table-bordered table-super-condensed">
            <tr>
                <th width="50px">PID</th>
                <th width="70px">USER</th>
                <th width="50px">%CPU</th>
                <th width="60px">%MEM</th>
                <th width="60px">TIME</th>
                <th>COMMAND</th>
            </tr>
            {% for process in top %}
                <tr>
                    <td>{{ process[1] }}</td>
                    <td>{{ process[0] }}</td>
                    <td>{{ process[2] }}</td>
                    <td>{{ process[3] }}</td>
                    <td>{{ process[9] }}</td>
                    <td>{{ process[10] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
