<ul class="nav nav-tabs">
    <li role="presentation" {% if (subaction == 'overview') %}class="active"{% endif %}><a href="/node/{{ request.node.getId() }}/containers/{{ request.container.id }}/overview/"><span class="fa fa-paragraph fa-fw"></span>&nbsp;&nbsp;OVERVIEW</a></li>
    <li role="presentation" {% if (subaction == 'stats') %}class="active"{% endif %}><a href="/node/{{ request.node.getId() }}/containers/{{ request.container.id }}/stats/"><span class="fa {% if (subaction == 'stats') %} fa-refresh fa-spin {% else %} fa-tachometer {% endif %} fa-fw"></span>&nbsp;&nbsp;STATS</a></li>
    <li role="presentation" {% if (subaction == 'containerlog') %}class="active"{% endif %}><a href="/node/{{ request.node.getId() }}/containers/{{ request.container.id }}/containerlog/"><span class="fa {% if (subaction == 'containerlog') %} fa-refresh fa-spin {% else %} fa-list-alt {% endif %} fa-fw"></span>&nbsp;&nbsp;CONTAINER LOG</a></li>
    <li role="presentation" {% if (subaction == 'customlogs') %}class="active"{% endif %}><a href="/node/{{ request.node.getId() }}/containers/{{ request.container.id }}/customlogs/"><span class="fa fa-list-alt fa-fw"></span>&nbsp;&nbsp;CUSTOM LOGS</a></li>
    <li role="presentation" {% if (subaction == 'run') %}class="active"{% endif %}><a href="/node/{{ request.node.getId() }}/containers/{{ request.container.id }}/run/"><span class="fa fa-terminal fa-fw"></span>&nbsp;&nbsp;RUN COMMAND</a></li>
</ul>
