{% extends '../../../layout/index.html.twig' %}

{% block sidebar %}
    {% include './../../partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-th fa-fw"></span>&nbsp;&nbsp;<a href="/node/{{ request.node.getId() }}/containers/" class="btn btn-danger btn-sm" role="button"><span class="fa fa-hand-o-left fa-lg"></span>&nbsp;&nbsp;Go back to containers in node <strong>{{ request.node.getName() }} / {{ request.node.getIp() }}:{{ request.node.getPort() }}</strong></a>&nbsp;&nbsp;Container #{{ request.container.id|truncate(12, True, '') }}</h1>

    {% block tabs %}
        {% include './partial.tab.html.twig' %}
    {% endblock %}

    <br />

    <div class="for_errors"></div>

    <form class="form-inline">
        <div class="form-group form-group-sm">
            <label for="exampleInputName2">Command:</label>
            <input type="text" class="form-control" style="width: 700px;" id="command" placeholder="Jane Doe">
        </div>
        <button type="button" id="container-run" class="btn btn-success btn-sm">Run</button>
        <button type="button" id="container-detach" class="btn btn-primary btn-sm" disabled>Detach</button>
        <button type="button" id="container-stop" class="btn btn-danger btn-sm" disabled>Stop</button>
    </form>

    <br />

    <div id="terminal" class="form-control terminal"></div>

    <br />

    <script>
        var
            terminal = $('#terminal'),
            command = $('#command'),
            containerRun = $('#container-run'),
            containerDetach = $('#container-detach'),
            containerStop = $('#container-stop');

        /**
         * Handle click on "stop" button
         */
        containerRun.on('click', function () {
            if (command.val().trim().length == 0) {
                addError('Empty command!');
            } else {
                containerRun.prop('disabled', true);
            }
        });
    </script>
{% endblock %}
