{% extends '../../../layout/index.html.twig' %}

{% block sidebar %}
    {% include './../../partial.sidebar.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="page-header"><span class="fa fa-th fa-fw"></span>&nbsp;&nbsp;<a href="/node/{{ request.node.getId() }}/containers/" class="btn btn-danger btn-sm" role="button"><span class="fa fa-hand-o-left fa-lg"></span>&nbsp;&nbsp;Go back to containers in node <strong>{{ request.node.getName() }} / {{ request.node.getIp() }}:{{ request.node.getPort() }}</strong></a>&nbsp;&nbsp;Container #{{ request.container.id|truncate(12, True, '') }}</h1>

    {% block tabs %}
        {% include './partial.tab.html.twig' %}
    {% endblock %}

    <br />

    <div class='run-command-container'>
        <div class='run-command'>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Command">
        </div>
        <div class='run-command-buttons text-right'>
            <button type="button" class="btn btn-success btn-sm">Run</button>
            <button type="button" class="btn btn-primary btn-sm">Detach</button>
            <button type="button" class="btn btn-danger btn-sm" disabled>Stop</button>
        </div>
    </div>
    <br />

    {#<div class="run-command-container">#}
        {#<div class="run-command">#}
            {#bla#}
            {#<input type="text" class="form-control" id="exampleInputName2" placeholder="Command">#}
        {#</div>#}
        {#<div class="run-command-buttons">#}
            {#<button type="button" class="btn btn-success btn-sm">Run</button>#}
            {#<button type="button" class="btn btn-primary btn-sm">Detach</button>#}
            {#<button type="button" class="btn btn-danger btn-sm" disabled>Stop</button>#}
        {#</div>#}
    {#</div>#}

    <div class="for_errors"></div>

    <div id="terminal" class="form-control terminal"></div>

    <br />

{% endblock %}
